@tailwind base;
@tailwind components;
@tailwind utilities;

/************************************************/
/*                 CSS RESETS                   */
/************************************************/

/* Resets */
html,
body,
#root {
  @apply bg-slate-900;
  @apply font-sans;
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0;
}

button {
  outline: none !important;
}

/*
 * Inputs
 */
::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px rgba(37, 41, 45, 1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

body.e-opened-modal {
  overflow: hidden;
}

body.e-opened-modal::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

body.e-opened-modal::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0;
}

body.e-opened-modal::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}
